/* Stili generali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #13315c, #8da9c4);
    color: white;
    padding: 15px;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #003366;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8da9c4;
    color: white;
}

/* Sezione del riepilogo della prenotazione */
/* Sezione del riepilogo della prenotazione */
main {
    padding: 20px;
}

h2 {
    color: #13315c;
    text-align: center;
    font-size: 1.8rem;
}

.riepilogo-box {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.riepilogo-box p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.riepilogo-box strong {
    color: #003366;
}

/* Stile del form di pagamento */
#payment-form {
    width: 100%; /* Stessa larghezza del riepilogo */
    max-width: 400px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

#card-element {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#card-errors {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

#submit {
    background-color: #13315c;
    color: white;
    padding: 10px 15px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 15px;
}

#submit:hover {
    background-color: #8da9c4;
}


