@import url("header.css");

/*Header*/
.benvenuto-utente {
    font-size: 1rem;
    color: white; 
    padding: 8px 15px;
    border-radius: 12px; 
    font-weight: normal; 
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.benvenuto-utente:hover {
    background-color: #FFFFFF4D;
    transform: scale(1.05);
}

.btn-area {
    display: block;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
}

.btn-area:hover {
    background-color: #FFFFFF4D;
}




/*Main*/
.layout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    overflow: auto;
}

.layout-container .box, .prenotazione-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #1A000000;
    margin-top: 20px;
    min-height: 220px;
}

/*Prenotazione*/
#prenotazione-compatta {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #8da9c4, white);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px #1A000000;
    flex: 1; 
    max-width: 350px;
    height: auto; 
    margin: 23px 0 0 0;
    padding: 10px 20px;
}

#prenotazione-compatta h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
}

.prenotazione-box {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #1A000000;
}

#prenotazione-form label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

#prenotazione-form select, #prenotazione-form input[type="date"], #prenotazione-form input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
}

.date-time {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

.date-time div {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.date-time input {
    text-align: center; 
}

#prenotazione-form button {
    width: 100%;
    background-color: #8da9c4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

#prenotazione-form button:hover , #prenotazione-form a:hover{
    background-color: #5d7990;
}

#prenotazione-form a {
    display: block;
    width: 100%;
    background-color: #8da9c4;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-prenota, 
.btn-login {
    display: block;
    width: 80%;  
    max-width: 300px; 
    background-color: #8da9c4;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;  
}

.btn-prenota:hover, 
.btn-login:hover {
    background-color: #5d7990;
}


/*Chi siamo*/
#chi-siamo {
    order: 2;
    text-align: left;
    flex: 1; 
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    margin: 0; 
    height: auto; 
}

#chi-siamo ul {
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0;
}

#chi-siamo h2 {
    color: #13315c;
}

#chi-siamo h3 {
    font-size: 1.3rem;
    color: #13315c;
    margin-top: 10px;
}

#chi-siamo ul li {
    display: flex;
    align-items: center;
    font-size: 1rem; 
    font-weight: bold;
    color: #13315c;
    background-color: #e3eaf3; 
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}

#chi-siamo ul li::before {

    margin-right: 10px;
    font-size: 1.4rem;
    color: #134074;
}


/*Parcheggi */
#Parcheggi {
    color: #f4f4f4;
    background-image: radial-gradient(circle, #134074,#8da9c4);
    text-align: center;
    margin: 40px 0px 0px 0px;
    padding: 5px 0px 20px 0px;
}

.parcheggi-container {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.parcheggio {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px #1A000000;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.parcheggio:hover {
    transform: scale(1.05);
}

.parcheggio img {
    width: 100%;
    height: auto;
    max-height: 320px; 
    border-bottom: 1px solid #ddd;
}

.parcheggio h3 {
    font-size: 1.5rem;
    margin: 15px 0 10px;
    color: #333;
}

.parcheggio p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
}

/*Mappa*/
.map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #1A000000;
}


/*Tariffe */
#tariffe {
    margin:0px;
    text-align: center;
    padding: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px #1A000000;
    min-height: 300px;
}

#tariffe h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #003366;
}

.tariffe-container table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}

.tariffe-container th, .tariffe-container td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.tariffe-container th {
    background-color: #003366;
    color: white;
    font-weight: bold;
}

.tariffe-container tr:hover {
    background-color: #e6f7ff;
}

.tariffe-container td {
    font-size:20px;
    color: #333;
}


/*Recensioni */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1100px;
    margin: 30px auto;
    min-height: 180px; 
    padding: 5px 0; 
}

.title {
    text-align: center; 
    width: 100%; 
    margin-bottom: 5px; 
    color: #003366;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 900px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
}

.slide {
    min-width: 280px;
    height: 250px;
    padding: 30px;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px #1A000000;
    margin: 0 15px;
    text-align: left;
}

.stars {
    color: gold;
    font-size: 20px;
    margin-bottom: 5px;
}

.date {
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.verified {
    font-size: 14px;
    color: #0044cc;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.verified::before {
    color: green;
    font-weight: bold;
    margin-right: 5px;
}

.nav-btn {
    background: none;
    border: 2px solid #003366;
    color: #003366;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn:hover {
    background: #003366;
    color: white;
}


/*Come Funziona*/
#come-funziona {
    color:#13315c;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #134074;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.step img {
    height: 80px;
}




/* Footer */
footer {
    border-top: 1px solid #134074;
    background-image:linear-gradient(to top,#8da9c4,white); ;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.footer-item img {
    height: 70px;
    margin-bottom: 20px;
}

.footer-item h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    color: #134074;
}

.footer-item p {
    font-size: 14px;
    color: #13315c;
    line-height: 1.6;
}

footer p {
    margin-top: 30px;
    font-size: 14px;
    color: #13315c;
    text-align: center;
}

strong, h3 {
    color: #13315c;
}

.footer-contacts a {
    color: #13315c; 
    text-decoration: none; 
    font-weight: bold;
}

.footer-contacts a:hover {
    color: #8da9c4;
}

.footer-contacts a:visited {
    color: #13315c !important;
}






