@import url("header.css");


/* Sezione del riepilogo della prenotazione */
/* Sezione del riepilogo della prenotazione */
main {
    padding: 20px;
}

h2 {
    color: #13315c;
    text-align: center;
    font-size: 1.8rem;
}

.riepilogo-box {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.riepilogo-box p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.riepilogo-box strong {
    color: #003366;
}

/* Stile del form di pagamento */
#payment-form {
    width: 100%; /* Stessa larghezza del riepilogo */
    max-width: 400px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

#card-element {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#card-errors {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

#submit {
    background-color: #13315c;
    color: white;
    padding: 10px 15px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 15px;
}

#submit:hover {
    background-color: #8da9c4;
}


