/* Stili generali */
body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13315c;
    color: white;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}




/* Sezione principale */
#intro {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    color: #13315c;
}

#intro h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #13315c;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
}

/* Disponibilità parcheggi */
#disponibilita {
    text-align: center;
    padding: 30px;
    background-color: white;
}

.parcheggi-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.parcheggio {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    border: 1px solid #0b2545;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Sezione "Come Funziona" */
#come-funziona {
    text-align: center;
    padding: 40px;
    background-color: #e3e3e3;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.step img {
    height: 80px;
}

/* Sezione FAQ */
#faq {
    text-align: center;
    padding: 40px;
    background-color: #fff;
}

.faq-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/* Footer */
footer {
    background-color: #f9f9f9;
    color: #333;
    padding: 40px 20px;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.footer-item img {
    height: 70px;
    margin-bottom: 20px;
}

.footer-item h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.footer-item p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.footer-item:last-child {
    padding-right: 0;
}

footer p {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
    text-align: center;
}

strong, h3 {
    color: #0b2545;
}



